* {
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }

  @media (max-aspect-ratio: 794/1123) {
    .page {
      width: 100vw; /* Adjust width to fit screen width */
      height: calc(100vw * (1123 / 794)); /* Calculate height based on aspect ratio */
    }
  }
  
  
  .page {
    width: calc(100vh * (794 / 1123)); /* Calculate width to maintain aspect ratio */
    height: 100vh;
    aspect-ratio: 794 / 1123;
    margin: auto;
    padding: 10mm;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    page-break-after: always;
    word-wrap: break-word;
  }

  .page:last-child {
    page-break-after: auto;
  }

  .content-container {
    display: flex;
    height: 100%;
  }

  .page-header {
    box-sizing: border-box;
    margin-bottom: 5px;
  }

  .page-footer {
    box-sizing: border-box;
  }
  
  .two-column {
    width: calc(50%);
    /* Two equal columns with gap */
    overflow: hidden;
    height: 100%;
    /* Match container height */
    display: flex;
    flex-direction: column;
  }

  .one-column {
    width: 100%;
    overflow: hidden;
    height: 100%;
    /* Match container height */
    display: flex;
    flex-direction: column;
  }

  .two-column img {
    max-width: 300px;
  }

  .two-column table:not(.answer-table) {
    max-width: 300px;
  }

  .two-column:first-child {
    padding-right: 10px;
  }

  .two-column:last-child {
    border-left: solid 1px rgb(66, 65, 65);
    padding-left: 10px;
  }

 
